<a href="https://colab.research.google.com/github/basithks/datastructures1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
b=3
print(a+b)

In [ ]:
n = int(input("Enter the value of n: "))
for i in range(1, n + 1):
    print(i)

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(num, "is even")
else:
    print(num, "is odd")

In [ ]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num, "x", i, "=", num * i)

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print("Factorial of", num, "is", factorial)

Enter a number: 5
Factorial of 5 is 120

In [ ]:
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            print(num, "is not prime")
            break
    else:
        print(num, "is prime")
else:
    print(num, "is not prime")

Enter a number: 17
17 is prime

In [ ]:
n = int(input("Enter number of terms: "))
a, b = 0, 1
count = 0
while count < n:
    print(a)
    a, b = b, a + b
    count += 1

Enter number of terms: 6
0
1
1
2
3
5

In [ ]:
string = input("Enter a string: ")
print("Reversed string:", string[::-1])

Enter a string: 45667
Reversed string: 76654

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b and a >= c:
    print(a, "is the largest")
elif b >= a and b >= c:
    print(b, "is the largest")
else:
    print(c, "is the largest")

Enter first number: 4
Enter second number: 6
Enter third number: 8
8 is the largest

In [ ]:
string = input("Enter a string: ")
if string == string[::-1]:
    print(string, "is a palindrome")
else:
    print(string, "is not a palindrome")

Enter a string: 568
568 is not a palindrome

In [ ]:
n = int(input("Enter the limit: "))
for i in range(2, n+1, 2):
    print(i)

Enter the limit: 6
2
4
6

In [ ]:
string = input("Enter a string: ")
vowels = 'aeiouAEIOU'
count = 0
for char in string:
    if char in vowels:
        count += 1
print("Number of vowels:", count)

Enter a string: qwert
Number of vowels: 1

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
a, b = b, a
print("After swapping: a =", a, "b =", b)

Enter first number: 45
Enter second number: 65
After swapping: a = 65 b = 45

In [ ]:
num = int(input("Enter a number: "))
total = 0
while num > 0:
    digit = num % 10
    total += digit
    num = num // 10
print("Sum of digits:", total)

Enter a number: 45
Sum of digits: 9

In [ ]:
sentence = input("Enter a sentence: ")
words = sentence.split()
print("Number of words:", len(words))

Enter a sentence: wssd edrtfeter edtert tyujkyhd
Number of words: 4

In [ ]:
char = input("Enter a character: ")
print("ASCII value of", char, "is", ord(char))

Enter a character: q
ASCII value of q is 113

In [ ]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num < 0:
    print("Negative number")
else:
    print("Zero")

Enter a number: 56
Positive number

In [ ]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Enter a year: 2024
2024 is a leap year

In [ ]:
numbers = [10, 20, 30, 40, 50]
average = sum(numbers) / len(numbers)
print("Average:", average)

Average: 30.0

In [ ]:
numbers = [1, 2, 3, 4, 5]
if numbers == sorted(numbers):
    print("The list is sorted")
else:
    print("The list is not sorted")

The list is sorted

In [ ]:
items = [1, 2, 3, 4, 2]
if len(items) != len(set(items)):
    print("List has duplicates")
else:
    print("List has all unique items")

List has duplicates

In [ ]:
items = [1, 2, 2, 3, 4, 4, 5]
unique_items = list(set(items))
print("Without duplicates:", unique_items)

Without duplicates: [1, 2, 3, 4, 5]

In [ ]:
nums = [1, 2, 3, 4, 5, 6]
evens = [n for n in nums if n % 2 == 0]
print("Even numbers:", evens)

Even numbers: [2, 4, 6]

In [ ]:
text = input("Enter a string: ")
vowels = 'aeiouAEIOU'
no_vowels = ''.join([c for c in text if c not in vowels])
print("Without vowels:", no_vowels)

Enter a string: qwwe dfgffg asderff
Without vowels: qww dfgffg sdrff